@import "./utils/reset";
@import "./utils/variables";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/color-button";

body {
  font-family: $font-text;
  display: flex;
  flex-direction: column;
}
