.footer {
    background-color: $light-black;
    color: #fff;

    &__list {
        padding: 20px;

        &__title {
            font-family: $font-logo;
            font-size: 18px;
            margin-bottom: 15px;
        }

        & > li {
            padding: 4px 0;

            a {
                color: #fff;

                i {
                    width: 20px;
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
        }
    }
}
